mat-toolbar {
  background-color: #82b1ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* Adjust space between logo and text */
}

.logo {
  height: 40px;
  /* Adjust based on your logo size */
}

.spacer {
  flex: 1;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-text {
  font-size: 2rem;
  /* font-size: 30px; */
  font-weight: 600;
  color: #1a237e
}

/* button.mat-button {
    margin-right: 16px;
    color: #ff5733; 
  } */

mat-button.custom-button {
  color: #ff5733;
  font-weight: 200;
  padding: 15px 30px;
  /* Adjust padding to make the button bigger or smaller */
  font-size: 100px;
  /* Adjust font size */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}