<div class="home-container">
  <div class="text-column">
    <h1>About Us</h1>
    <p>
      Welcome to Brilliant Educational Institution, an educational platform built by passionate volunteers dedicated to
      supporting the Civil Disobedience Movement (CDM) in Myanmar. We are a collective of educators, activists, and
      community members, united in our commitment to freedom, justice, and the power of education.

      As volunteers, we believe that knowledge is a powerful tool for resistance and change. Our goal is to provide
      accessible learning resources that empower individuals, particularly those affected by the political struggles in
      Myanmar, to continue their education despite the challenges faced. Through our platform, we aim to support the CDM
      by helping to keep minds strong, informed, and resilient during these difficult times.

      We are committed to providing a space for learning, solidarity, and collective action, where every individual can
      find the tools they need to contribute to a better future for Myanmar. By offering educational content in a
      variety of subjects, we seek to help rebuild and strengthen the community, one lesson at a time.

      Join us in our mission to foster hope, resistance, and empowerment through education.


    </p>
  </div>

  <div class="image-column">
    <img src="images/aboutUs2.jpg" alt="Home Image" />
  </div>
</div>

<div class="text-column2">
  <h1>Our Team</h1>
</div>

<div class="info-sections">
  <div class="info-section">
    <img src="images/girl.jpg" alt="Feature 1" />
    <div class="text">
      <h2>Teacher Phyu</h2>
      <p>Leader</p>
    </div>
  </div>

  <div class="info-section">
    <img src="images/girl.jpg" alt="Feature 2" />
    <div class="text">
      <h2>Teacher Zin</h2>
      <p>
        Leader</p>
    </div>
  </div>

  <div class="info-section">
    <img src="images/boy.jpg" alt="Feature 3" />
    <div class="text">
      <h2>Teacher Zaw</h2>
      <p>Leader
      </p>
    </div>
  </div>

  <div class="info-section">
    <img src="images/boy.jpg" alt="Feature 3" />
    <div class="text">
      <h2>Teacher Paing</h2>
      <p>Leader
      </p>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->