<div class="courses-container">
  <h1>Our Courses</h1>
  <ul>
    <li>Computer Science</li>
    <li>Business Administration</li>
    <li>Mathematics</li>
    <li>English Literature</li>
  </ul>
</div>
<div class="home-container">
  <div class="image-column">
    <img src="images/eng.jpg" alt="Home Image" />
  </div>
  <div class="text-column">
    <h1>Welcome to Our Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
      tincidunt, mauris non cursus euismod, tortor purus tincidunt sapien,
      vitae posuere tortor risus a magna. Integer nec enim eu nulla luctus
      placerat.
    </p>
  </div>
 </div>

 <div class="home-container">
  <div class="image-column">
    <img src="images/jp2.jpg" alt="Home Image" />
  </div>
  <div class="text-column">
    <h1>Welcome to Our Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
      tincidunt, mauris non cursus euismod, tortor purus tincidunt sapien,
      vitae posuere tortor risus a magna. Integer nec enim eu nulla luctus
      placerat.
    </p>
  </div>
 </div>
<app-footer></app-footer>