<div class="home-container">
  <div class="image-column">
    <img src="images/laptop.jpg" alt="Home Image" />
  </div>
  <div class="text-column">
    <h1>Welcome to Our Brilliant Educational Institution</h1>
    <p>
      “Online learning provides fantastic flexibility, among other benefits, and aids in making the task of arranging development opportunities far easier.” – Dr. Sharon Jones
    </p>
  </div>
</div>

<div class="home-container">
  <div class="text-column2">
    <h1>What we are doing now</h1>
    <p>
      Our goal is to provide accessible learning resources that empower individuals,
      particularly those affected by the various struggles in Myanmar, 
      to continue their education despite the challenges faced.
    </p>
  </div>
</div>

<div class="info-sections">
  <div class="info-section">
    <img src="images/eng.jpg" alt="Feature 1" />
    <div class="text">
      <h2>English Learning</h2>
      <p>Improve your English grammar, vocabulary and more with BEI English Live.</p>
    </div>
  </div>

  <div class="info-section">
    <img src="images/jp.jpg" alt="Feature 2" />
    <div class="text">
      <h2>Japanese Learning</h2>
      <!-- Ready to learn Japanese in a fun and relaxed way?  -->
      <p>
        Dive into a world of Japanese language to help you learn naturally.</p>
    </div>
  </div>

  <div class="info-section">
    <img src="images/it2.jpg" alt="Feature 3" />
    <div class="text">
      <h2>Information Technology Learning</h2>
      <p>Information technology has been one of the leading drivers of globalization.
        Let dive together!
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>