 
<!-- <div class="hero-section">
  <div class="hero-content">
    <h1>Discover Your Path to Knowledge</h1>
    <p>Empowering learners worldwide with expert-led educational content.</p>
    <button mat-raised-button color="accent" class="cta-button">Get Started</button>
  </div>
</div> -->

<mat-card class="image-card">
  <img mat-card-image src="images/ed.png" alt="Displayed Image" />
  <!-- <mat-card-content>
    <p>{{ imageDescription }}</p>
  </mat-card-content> -->
</mat-card>


<div class="info-sections">
  <div class="info-section">
    <img src="images/logo.jpg" alt="Feature 1" />
    <div class="text">
      <h2>Interactive Learning</h2>
      <p>Experience a hands-on approach with interactive lessons and quizzes.</p>
    </div>
  </div>
  
  <div class="info-section">
    <img src="images/logo.jpg" alt="Feature 2" />
    <div class="text">
      <h2>Expert Instructors</h2>
      <p>Learn from industry leaders with years of practical experience.</p>
    </div>
  </div>

  <div class="info-section">
    <img src="images/logo.jpg" alt="Feature 3" />
    <div class="text">
      <h2>Flexible Learning</h2>
      <p>Study at your own pace with access to materials 24/7.</p>
    </div>
  </div>
</div>
